:root {
    --primary-hue: 157deg;
    --primary-saturation: 72%;
    --primary-lightness: 17%;
}

.dark {
    --primary-hue: 204deg;
    --primary-saturation: 100%;
    --primary-lightness: 50%;
}

.hextra-code-block .filename {
    background-color: hsl(157deg 72% calc(17% + calc(calc(100% - 17%) / 50) * 44) / 1);
}

.highlight [data-lang="sh"] .line::before {
    content: '$ ';
    user-select: none;
}